.BannerContent {
    position: relative;
    bottom: 550px;
    left: 120px;
}

.ZoomImageBox {
    transition: 1.5s all ease-in-out;
    overflow: hidden;
    border-radius: 10px;   
    border-top-right-radius: 0px; 
    border-top-left-radius: 0px; 
}

.ZoomImage {
    transition: 0.3s all ease-in-out;
}

.ZoomImage:hover {
    transform: scale(1.2);
}

@media(max-width:480px) {
    .BannerContent {
        bottom: 180px;
        left: 5px;
    }

}

@media (min-width : 768px) and (max-width : 1024px) {
    .BannerContent {
        bottom: 280px;
        left: 20px;
    }
}